{% extends '@sil20Vitrine/Default/commun/layout_login.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <div class="form row" id="forgetP">
        <div class="col-sm-12 container">
            <div class="input">
                <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
            </div>
            <div class="input">
                <a  class="main-form animated bounceInDown" href="{{ path('sil20_vitrine_homepage') }}">POURSUIVRE</a>
            </div>
       </div>
    </div>
{% endblock fos_user_content %}
