<div class="form row" id="register" >
    <div class="col-sm-12 container">
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
            {% if invalid_username is defined %}
                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
            {% endif %}
            <div class="input">
            {{ form_widget(form.nom, { 'attr': {
                'class': 'main-form animated bounceInDown',
                'placeholder': 'NOM'} }) }}
             </div>
            <div class="input">
                    {{ form_widget(form.username, { 'attr': {
                        'class': 'main-form animated bounceInDown',
                        'placeholder': 'IDENTIFIANT'} }) }}
            </div>
            <div class="input">
                {{ form_widget(form.email, { 'attr': {
                    'class': 'main-form animated bounceInDown',
                    'placeholder': 'EMAIL'} }) }}
            </div>
            <div class="input">
                {{ form_widget(form.plainPassword.first, { 'attr': {
                    'class': 'main-form animated bounceInDown',
                    'placeholder': 'MOT DE PASSE'} }) }}
            </div>
            <div class="input">
                {{ form_widget(form.plainPassword.second, { 'attr': {
                    'class': 'main-form animated bounceInDown',
                    'placeholder': 'CONFIRMATION'} }) }}
            </div>
            {# Necessaire lorsqu'on modifie le rendu des champs  #}
            {{ form_rest(form) }}
            <div class="input">
                <input class="main-form btn animated bounceInDown" type="submit" value="INSCRIPTION" />
            </div>
        </form>
    </div>
</div>

