{% extends "sil20VitrineBundle::layout.html.twig" %}

{% block title %}<h2>Erreur - {{ status_code }}</h2>{% endblock %}

{% block content %}
    <div class="err-excpt">
        {% if status_code >= 500 %}
            <div>
                <p>Une erreur s'est produite. Veuillez réessayer utlérieurement.</p>
            </div>
            {# twig include 500s server error template here #}
        {% elseif status_code >= 400 %}
            {% if status_code == 403 %}
                <div>
                    <p>Vous n'êtes pas autorisé à acceder à cette page !</p>
                </div>
            {% elseif status_code == 404 %}
                <div>
                    <p>Nous sommes désolés, la page que vous avez demandé n'existe pas ou plus.</p>
                    <p>Verifiez l'adresse que vous avez saisie</p>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
