<div class="col-md-3 col-sm-6">
    <div class="single-shop-product">
        {% if article.stock <= 20 %}
            <div class="ribbon new">
                {% if article.stock > 1 %}
                    <div class="theribbon">{{ article.stock }} disponibles</div>
                {% elseif article.stock == 1 %}
                    <div class="theribbon">Dernier disponible</div>
                {% else %}
                    <div class="theribbon">Indisponible</div>
                {% endif %}
                <div class="ribbon-background"></div>
            </div>
        {% endif %}
        {% set classes = '' %}
        {% if article.stock < 1 %}
            {% set classes = 'notproduct' %}
        {% endif %}
        <div class="product-upper {{ classes }}">
            <img src="{{ asset('bundles/sil20vitrine/images/articles/'~ article.image) }}"
                 alt="">
        </div>
        <h2>
            <a href="{{ path('article_show', { 'id' : article.id  }) }}">{{ article.getLibelle }}</a>
        </h2>
        <div class="product-carousel-price">
            <ins>{{ article.getPrix }} €</ins>
        </div>

        {% set classes = '' %}
        {% if article.stock < 1 %}
            {% set classes = 'notproduct not-active' %}
        {% endif %}
        <div class="product-option-shop {{ classes }}">
            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"                rel="nofollow"
               href="{{ path('panier_ajouter', { 'id' : article.getId }) }}"> Ajouter au panier
            </a>
        </div>
    </div>
</div>

