<div class="col-md-3 col-sm-6">
    <div class="article">
        <a href="{{ path('article_show_admin', { 'id': article.id }) }}">
            <img src="{{ asset('bundles/sil20vitrine/images/articles/'~ article.image) }}">
        </a>
        <div class="info-article">
            <h4>{{ article.libelle }}</h4>
            <h5>Prix : {{ article.prix }} </h5>
            <h6>Stock : {{ article.stock }}  </h6>
        </div>
        <div class="btns-article">
            <a href="{{ path('article_show_admin', { 'id': article.id }) }}">
                <span class="ion-eye icon-detail color-white"></span>
            </a>
            <a href="{{ path('article_edit', { 'id': article.id }) }}">
                <span class="ion-android-settings icon-detail color-white"></span>
            </a>
        </div>
    </div>
</div>

