<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img src="{{ asset('bundles/sil20vitrine/images/articles/'~ article.image) }}"
                                         alt="">
                                </div>

                                <div class="product-gallery">
                                    <img src="{{ asset('bundles/sil20vitrine/images/product-thumb-1.jpg') }}" alt="">
                                    <img src="{{ asset('bundles/sil20vitrine/images/product-thumb-2.jpg') }}" alt="">
                                    <img src="{{ asset('bundles/sil20vitrine/images/product-thumb-3.jpg') }}" alt="">
                                    <img src="{{ asset('bundles/sil20vitrine/images/product-thumb-4.jpg') }}" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name">{{ article.getLibelle }}</h2>
                                <div class="product-inner-price">
                                    <ins>{{ article.getPrix }} €</ins>
                                </div>
                                {% if back_office == false %}
                                    {% set classes = '' %}
                                    {% if article.stock < 1 %}
                                        {% set classes = 'notproduct not-active' %}
                                    {% endif %}
                                    <div class="product-option-shop {{ classes }}">
                                        <a class="add_to_cart_button" data-quantity="1" data-product_sku=""
                                           data-product_id="70" rel="nofollow"
                                           href="{{ path('panier_ajouter', { 'id' : article.getId }) }}">
                                            Ajouter au panier
                                        </a>
                                    </div>
                                {% endif %}
                                <div class="product-inner-category">
                                    {% if back_office == false %}
                                        {% set link =  path('sil20_vitrine_article_categorie', { 'id' : article.getCategorie.getId })  %}
                                    {% else %}
                                        {% set link =  path('categorie_show', { 'id' : article.getCategorie.getId })  %}
                                    {% endif %}
                                    <p> Categorie: <a href="{{ link }}">{{ article.getCategorie.getIntitule }}</a>.
                                        Disponible: {{ article.getStock }}
                                    </p>
                                </div>

                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Critique</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h2>Description</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique,
                                                diam in consequat iaculis, est purus iaculis mauris, imperdiet facilisis
                                                ante ligula at nulla. Quisque volutpat nulla risus, id maximus ex
                                                aliquet ut. Suspendisse potenti. Nulla varius lectus id turpis dignissim
                                                porta. Quisque magna arcu, blandit quis felis vehicula, feugiat gravida
                                                diam. Nullam nec turpis ligula. Aliquam quis blandit elit, ac sodales
                                                nisl. Aliquam eget dolor eget elit malesuada aliquet. In varius lorem
                                                lorem, semper bibendum lectus lobortis ac.</p>

                                            <p>Mauris placerat vitae lorem gravida viverra. Mauris in fringilla ex.
                                                Nulla facilisi. Etiam scelerisque tincidunt quam facilisis lobortis. In
                                                malesuada pulvinar neque a consectetur. Nunc aliquam gravida purus, non
                                                malesuada sem accumsan in. Morbi vel sodales libero.</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="profile">
                                            <h2>Critique</h2>
                                            <div class="submit-review">
                                                <p><label for="name">Name</label> <input name="name" type="text"></p>
                                                <p><label for="email">Email</label> <input name="email" type="email">
                                                </p>
                                                <div class="rating-chooser">
                                                    <p>Your rating</p>

                                                    <div class="rating-wrap-post">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <p>
                                                    <label for="review">Your review</label>
                                                    <textarea name="review" id="" cols="30" rows="10"></textarea>
                                                </p>
                                                <p><input type="submit" value="Submit"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>