{% extends 'sil20VitrineBundle:Admin:form_BO.html.twig' %}

{% block icon_form %}{{ 'ion-ios-pricetags' }}{% endblock %}
{% block title_form %}{{ title }}{% endblock %}

{% block content_form %}
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
        <input class="btn-add link-add" type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

        {{ form_start(delete_form) }}
            <input class="btn-remove link-rm"  type="submit" value="Supprimer">
        {{ form_end(delete_form) }}

{% endblock %}

{% block link_back %}
    {{ path('article_index') }}
{% endblock %}

