{% extends '@sil20Vitrine/Admin/layout_BO.html.twig' %}
{% block icon %}{{ 'ion-ios-pricetags' }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="block-add">
        <a class="" href="{{ path('article_new') }}" alt="Ajouter un article" title="Ajouter un article"><span class="ion ion-plus icon-user color-white"></span></a>
    </div>
    <div class="tab">
        <ul class="tabs">
        {% for categorie in categories %}

            <li><a href="#">{{ categorie.getIntitule }}</a></li>
        {% endfor %}
        </ul> <!-- / tabs -->

        <div class="tab_content">
            {% for categorie in categories %}
                <div class="tabs_item">
                    <div class="col-md-12 ">
                        <div class="row ">
                            {% for article in categorie.articles %}
                             {{ include("sil20VitrineBundle:Article:articles.html.twig") }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> <!-- / tab_content -->
    </div> <!-- / tab -->
{% endblock %}

