{% if topsale|length > 0  %}
    <div class="col-md-2 col-sm-6">
        <div class="single-product-widget">
            <h2 class="product-wid-title">Top Ventes</h2>
            {% for article in topsale %}
                <div class="single-wid-product">
                    <a href="{{ path('article_show', { 'id' : article.id  }) }}"><img src="{{ asset('bundles/sil20vitrine/images/articles/'~  article.image) }}" alt="" class="product-thumb"></a>
                    <h2><a href="{{ path('article_show', { 'id' : article.id  }) }}">{{ article.libelle }}</a></h2>
                    <div class="product-wid-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="product-wid-price">
                        <ins>{{ article.prix }} €</ins>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
