{% extends back_office ? "@sil20Vitrine/Admin/layout_BO.html.twig" : "sil20VitrineBundle::layout.html.twig" %}


{% if back_office == true %}
    {% block icon %} {{ 'ion-ios-pricetags' }} {% endblock %}
{% endif %}

{% block title %}
    {% if back_office == true %}
        {{ title }}
    {% else %}
        <h2>Article</h2>
    {% endif %}
{% endblock %}


{% block content %}
    {% if back_office == true %}
        <div class="article-bo">
            {% include('sil20VitrineBundle:Article:detail.html.twig') %}
        </div>
    {% else %}
        {% include('sil20VitrineBundle:Article:detail.html.twig') %}
    {% endif %}
{% endblock %}
