{% extends 'sil20VitrineBundle:Admin:form_BO.html.twig' %}

{% block icon_form %} {{ 'ion-ios-cart' }} {% endblock %}
{% block title_form %} {{ title }}{% endblock %}

{% block content_form %}
    <p> REF : COM{{ commande.id }}</p>
    <p> {{ commande.client.nom }}</p>
    {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}
        {{ form_row(edit_form.etat) }}
        <input class="btn-add" type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

{% endblock %}

{% block footer_content %}
    <a href="{{ path('commande_index',{'id': commande.client.id}) }}" class="small-box-footer"><i class="fa fa-arrow-circle-left"></i>Retour à la liste</a>
{% endblock %}



