{% extends '@sil20Vitrine/Admin/layout_BO.html.twig' %}

{% block icon %} {{ 'ion-ios-cart' }} {% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if commandes %}
        <div class="row dash-box">
            {% for commande in commandes %}
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-blue">
                        <div class="inner">
                            <h3>REF : ORD{{ commande.id }}</h3>
                            <p> {{ commande.date|date('Y-m-d') }}</p>
                            <p>{{ commande.client.nom }}</p>
                            <p>
                                {% if commande.etat == true %}
                                    <span class="label label-success">Validé</span>
                                {% else %}
                                    <span class="label label-danger">En attente</span>
                                {% endif %}
                            </p>
                        </div>
                        <div class="icon">
                            <i class="ion-ios-cart"></i>
                        </div>
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('commande_edit', {'id' : commande.id}) }}" class="small-box-footer">Modifier <i class="fa fa-arrow-circle-right"></i></a>
                   {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-med color-white">Vous n'avez passé aucune commande</p>
    {% endif %}
{% endblock  %}