{% extends '@sil20Vitrine/layout.html.twig' %}

{% block title %}
    <h2>{{ title }}</h2>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create"/>
    {{ form_end(form) }}
    <ul>
        <li>
            <a href="{{ path('commande_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
