{% extends '@sil20Vitrine/layout.html.twig' %}

{% block title %}
    <h2>{{ title }}</h2>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="validate-com block-client">
            <span class="custom-title">Client</span>
            <div class="content text-med">
                <p>Nom : {{ commande.client.nom }}</p>
                <p>Email : {{ commande.client.email }}</p>
            </div>
        </div>
        <div class="validate-com block-commande">
            <div class="text-med">
                <p class="custom-title-gray">
                    <span>Numero de commande : </span>
                    <span>{{ commande.id }}</span>
                </p>
                <p>
                    <span>Date :</span>
                    <span>{% if commande.date %}{{ commande.date|date('Y-m-d') }}{% endif %}</span>
                </p>
                <p>
                    <span>Etat :</span>
                    <span>{% if commande.etat %}Yes{% else %}No{% endif %}</span>
                </p>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th>Libelle</th>
                        <th>Quantite</th>
                        <th>Prix</th>
                    </tr>
                    {% for ligne in commande.ligneCommande %}
                        <tr>
                            <td>{{ ligne.getArticle.getLibelle() }}</td>
                            <td>{{ ligne.getQuantite() }}</td>
                            <td>{{ ligne.getPrix() }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="btn-validate">
            <a class="custom-button" href="{{ path('commande_validate',{ 'id' : commande.id } ) }}">Valider</a>
        </div>
    </div>

{% endblock %}
