<div class="row">
    {% include "sil20VitrineBundle:Categorie:menu.html.twig" %}
</div>
<div class="row">
    <div id="fb-root" class="" fb-root></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-page"
         data-tabs="timeline"
         data-href="https://www.facebook.com/Indesmarket/"
         data-height="800">
    </div>
</div>