{% extends "sil20VitrineBundle::layout.html.twig" %}

{% block title %}<h2>Catalogue</h2>{% endblock %}

{% block content %}
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row ">
                <div class="col-md-3 menu-cat">
                    {% include "sil20VitrineBundle:Catalogue:catalog_menu.html.twig" %}
                </div>
                <div class="col-md-9 ">
                    <div class="row ">
                        {% block content_catalog %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
