{% extends "sil20VitrineBundle:Catalogue:catalog.html.twig" %}

{% block content_catalog  %}
    {% if categories %}
        {% for categorie in categories %}
            {% for article in categorie.articles %}
                {% include "sil20VitrineBundle:Article:article_catalog.html.twig" %}
            {% endfor %}
        {% endfor %}
    {% else %}
        <p> Aucun article disponible</p>
    {% endif %}
{% endblock %}