{% extends 'sil20VitrineBundle:Admin:form_BO.html.twig' %}

{% block icon_form %}{{ 'ion-ios-cog' }}{% endblock %}
{% block title_form %}{{ 'Modifier Informations' }}{% endblock %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}
