{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
        {{ form_widget(form) }}
        <div>
            <input class="btn-add" type="submit" value="Modifier" />
        </div>
    </form>
{% endblock %}


