{% trans_default_domain 'FOSUserBundle' %}

<div class="row dash-box">
        <div class="">
            <div class="small-box box-center form-color">
                <div class="inner">
                    <h3> {{ user.nom }}</h3>
                    <p>{{ user.username }}</p>
                    <p>{{ user.email }}</p>
                    <p> Vous avez passé {{ user.commandes|length }} commandes</p>
                </div>
                <a href="{{ path('fos_user_profile_edit') }}" class="small-box-footer">Modifier mes informations <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
</div>
