{% extends "sil20VitrineBundle:Admin:layout_BO.html.twig" %}

{% block icon %}

        {% if 'ROLE_SUPER_ADMIN' in user.roles %}
            {{ 'ion-social-freebsd-devil' }}

        {% else %}
            {{ 'ion-person' }}
        {% endif %}

{% endblock %}
{% block title %}
    {% if is_granted('ROLE_ADMIN') %}
        <h2>Administrateur</h2>
    {% elseif is_granted('ROLE_USER') %}
        <h2>Client</h2>
    {% endif %}

{% endblock %}
{% block content %}
    <div class="content text-med color-white">
        {% block fos_user_content %}
            {% include "FOSUserBundle:Profile:show_content.html.twig" %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}

