{# src/sil20/VitrineBundle/Resources/views/Default/commun/footer.html.twig #}

<div class="footer-top-area">
    <div class="zigzag-bottom"></div>
    {{ render(controller('sil20VitrineBundle:Article:plusVendus')) }}
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-about-us">
                    <h2>Indes<span>Market</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis magni at?</p>
                    <div class="footer-social-net">
                        <a class="social-net" href="https://www.facebook.com/Indesmarket-2103222689912171/" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a class="social-net" href="https://www.facebook.com/Indesmarket-2103222689912171/" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a class="social-net" href="https://www.facebook.com/Indesmarket-2103222689912171/" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">Utilisateur</h2>
                    <ul>
                        <li><a href="{{ path('fos_user_profile_show') }}">Mon compte</a></li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a href="{{ path('commande_index', {'id' : app.user.id}) }}">Historique des commandes</a></li>
                        {% endif %}
                        <li><a href="{{ path('sil20_vitrine_catalogue', { 'id': 'false' }) }}">Catalogue</a></li>
                        <li><a href="{{ path('panier') }}">Panier</a></li>
                        <li><a href="{{ path('sil20_vitrine_contact') }}">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">Navigation</h2>
                    <ul>
                        <li><a href="{{ path('sil20_vitrine_homepage') }}">Accueil</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                        <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                        <li><a href="{{ path('sil20_vitrine_mentions') }}">Mentions légales</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-newsletter">
                    <h2 class="footer-wid-title">Newsletter</h2>
                    <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
                    <div class="newsletter-form">
                        <form action="#">
                            <input type="email" placeholder="Type your email">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End footer top area -->
<div class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright">
                    <p>&copy; 2017 IndesMarket. All Rights Reserved. Coded with <i class="fa fa-heart"></i> by Marc-Antoine</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="footer-card-icon">
                    <i class="fa fa-cc-discover"></i>
                    <i class="fa fa-cc-mastercard"></i>
                    <i class="fa fa-cc-paypal"></i>
                    <i class="fa fa-cc-visa"></i>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End footer bottom area -->
