
<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

<!-- Bootstrap -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Font Awesome -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- Ionicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ asset('bundles/sil20vitrine/css/owl.carousel.css')}}">
<link rel="stylesheet" href="{{ asset('bundles/sil20vitrine/css/style.css')}}">
<link rel="stylesheet" href="{{ asset('bundles/sil20vitrine/css/responsive.css')}}">

<!-- Latest jQuery form server -->
<script src="https://code.jquery.com/jquery.min.js"></script>

<!-- Bootstrap JS form CDN -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- JS -->
<script src="{{ asset('bundles/sil20vitrine/js/jquery.easing.1.3.min.js')}}"></script>
<script src="{{ asset('bundles/sil20vitrine/js/jquery.sticky.js')}}"></script>
<script src="{{ asset('bundles/sil20vitrine/js/main.js')}}"></script>
<script src="{{ asset('bundles/sil20vitrine/js/owl.carousel.min.js')}}"></script>