{# src/sil20/VitrineBundle/Resources/views/Default/commun/header.html.twig #}

<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li><a href="{{ path('panier')}}"><i class="fa fa-shopping-cart"></i> Mon Panier</a></li>

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> Mon profil</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-user"></i>Inscription</a></li>
                        {% endif %}
                        <li class="logo-fb"><a href="https://www.facebook.com/Indesmarket-2103222689912171/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.facebook.com/Indesmarket-2103222689912171/"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.facebook.com/Indesmarket-2103222689912171/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="header-right">
                    <ul class="list-unstyled list-inline">
                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="fa fa-eur key"></span><span class="value"> EUR </span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">USD</a></li>
                                <li><a href="#">EUR</a></li>
                                <li><a href="#">GBP</a></li>
                            </ul>
                        </li>

                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="fa fa-globe"></span><span class="value"> EN </span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">FR</a></li>
                                <li><a href="#">EN</a></li>
                                <li><a href="#">DE</a></li>
                            </ul>
                        </li>

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <i><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off mycompte"></i> Deconnexion </a></i>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-user mycompte"></i> Mon compte</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End header area -->

<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a href="{{ path('sil20_vitrine_homepage') }}">Indes<span>Market</span></a></h1>
                </div>
            </div>


            {{ render(controller('sil20VitrineBundle:Panier:contenuPanier')) }}
        </div>
    </div>
</div> <!-- End site branding area -->

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('sil20_vitrine_homepage')}}">Accueil</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="{{ path('sil20_vitrine_catalogue') }}">Catalogue</a></li>
                    <li><a href="{{ path('sil20_vitrine_contact') }}">Contact</a></li>
                    <li><a href="{{ path('panier')}}">Panier</a></li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- End mainmenu area -->