{# src/sil20/VitrineBundle/Resources/views/Admin/layout_BO.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% include "sil20VitrineBundle:Default/commun:front_files_login.html.twig" %}
    <title>Login</title>
</head>
<body>
    <a href="{{ path('sil20_vitrine_homepage') }}" title="Lien vers la page d'accueil">
        <span class="ion-ios-home closed"></span>
    </a>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="tabs">
                    <li><a href="{{ path('fos_user_security_login') }}" id="1">CONNEXION</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}" id="2">INSCRIPTION</a></li>
                </ul>
            </div>
            <div class="col-sm-12">
                {% block fos_user_content %}

                {% endblock %}
            </div>
        </div>
    </div>
    <script src="{{ asset('bundles/sil20vitrine/js/login.js')}}"></script>
</body>
</html>

