{# Message de validation / warning / Echec  d'un formulaire #}
{% block notice_error %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-{{ flashMessage.alert }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <span class="glyphicon glyphicon-ok"></span>
            <strong>{{ flashMessage.title }}</strong> {{ flashMessage.message }}
        </div>
    {% endfor %}
{% endblock %}