@import url(http://fonts.googleapis.com/css?family=Roboto:100);


.border-radius{
  border-radius: 5px;
}
body{
    background:url(../images/bg-login.jpg) no-repeat fixed;
    background-size:cover;
    background-position:50%;
    font-family: 'Roboto';
    color: #fff;
}
.tabs, .form{
    width: 390px;
    opacity: 0.8;
}
.tabs{
    background: #1ab188;
    height: 60px;
    margin: 25px auto 10px;
    color: #000;
}
.tabs li a {
    font-weight: 700;
}
.form{
    padding: 1px;
    margin: 25px auto;
    background: #000;
}

li {
    display: block;
    width: 40%;
    height: 30px;
    vertical-align: middle;
    float: left;
    margin: 15px;
    padding: 0;
    border-right: 1px solid #fff;
}
li:last-child{
   border: none;
 }
a {
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
}
a:hover{
   color: #fff;
   text-decoration: none;
}
a:active{
   color: #fff;
   text-decoration: none;
}
a:link{
   color: #fff;
   text-decoration: none;
}
.container{
    margin-top: 20px;
}
.input{
    padding: 2%;
    margin: 20px 0;
}
input.main-form{
    text-align: center;
    border: 1px solid #a0b3b0;
    display: block;
    width: 100%;
    height: 40px;
    color: #fff;
    background: #000;
    font-size: 16px;
}
input[type="checkbox"]{
    margin-right: 5px;
    vertical-align: top;
}
.input a{
    color: #fff;
}
.form input.btn{
    background: #1ab188;
    border: none;
}
#login{
    margin: 25px auto 10px;
    padding: 1px;
}

.error{
    color: white;
    font-weight: 700;
    text-align: center;
}

.closed{
    position: fixed !important;
    right: 3%;
    margin-top: 1%;
    font-size: 3rem;
    color: #ffffff;
}

