@import url(http://fonts.googleapis.com/css?family=Roboto:100);
body,html {
    background: url("../images/bg-bo.jpg") no-repeat fixed;
    background-size: cover;
    background-position: 50%;
    filter: blur;
    font-family: 'Roboto';
    color: #fff;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:'Roboto';}
a{
    text-decoration: none;
    color: white;
}
.table-dashboard{
    text-align: left;
}
.table-dashboard a{
    color: #dd4b39;
}
header {
    width: 100%;
    text-align: center;
}
h1{
    text-transform: uppercase;
}
.form-color {
    background-color: rgba(0, 0, 0, 0.8);
}
.flash-notice{
    font-size: larger;
    color: #ff5600;
    font-weight: 900;
}
.block-add{
    position: absolute;
    left: 7%;
    top: 3%;
}
span.add{
    font-size: 6rem;
    color: #ff5600;
}
.administrator{
    color: #ff5600;
}
nav.navbar.navbar-default.sidebar {
    position: fixed;
    z-index: 99999;
}
nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

.main{
    padding: 10px 10px 0 10px;
}

@media (min-width: 765px) {

    .main{
        position: absolute;
        width: calc(100% - 40px);
        margin-left: 40px;
        float: right;
    }

    nav.sidebar:hover + .main{
        margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    nav.sidebar a{
        padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
        border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
        border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }

    nav.sidebar{
        width: 200px;
        height: 100%;
        margin-left: -160px;
        float: left;
        margin-bottom: 0px;
    }

    nav.sidebar li {
        width: 100%;
    }

    nav.sidebar:hover{
        margin-left: 0px;
    }

    .forAnimate{
        opacity: 0;
    }
}

@media (min-width: 1330px) {

    .main{
        width: calc(100% - 200px);
        margin-left: 200px;
    }

    nav.sidebar{

        float: left;
    }

    nav.sidebar .forAnimate{
        opacity: 1;
    }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate{
    opacity: 1;
}
section{
    padding-left: 15px;
}

.closed{
    position: fixed;
    right: 0px;
    color: #f8f8f8;
    font-size: xx-large;
}

.icon-bo {
    font-size: 10.9em;
    color: #1abc9c;
    display: inline-block;
    margin-top: 3%;
}

.title-bo h2 {
    font-size: 2.9em;
    text-transform: uppercase;
    margin-bottom: 3%;
}

/*======================================================
*                       COMMANDE
======================================================*/

.block-list-commande{
    border-radius: 6px;
    display: block;
    background-color: #FFFFFF;
    opacity: 0.95;
    width: 325px;
    float: left;
    margin: 4%;
    margin-top: 20px;
    text-align: center;
}
.block-list-commande span, .block-list-commande p  {
    color: #333333;
}

/*======================================================
*                   END COMMANDE
======================================================*/



/**************************************************************************************************
*   PAGE CONNEXION
*
*************************************************************************************************1*/

form div div label, form div div input, form div div select, input[type="submit"]  {
    font-weight: 900;
    text-align: center;
}

input, select{
    width: 100%;
    margin-bottom: 1.4rem;
    padding: 1rem;
    color: black;
    background: rgba(255,255,255,0.59);
    border-radius: 0.2rem;
    border: none;
}
input:hover, input:focus{
    color: white;
}
h2.login, h2.edit {
    margin-bottom: 3rem;
    font-weight: bold;
    color: #ababab;
}

.full-width-login {
    background-color: #8eb5e2;
    width: 100%;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.box-login, .box-edit {
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}


/**************************************************************************************************
*   FIN PAGE CONNEXION
*
*************************************************************************************************1*/

.container.users{
    width: 20%;
    margin-left: 4%;
    padding: 1%;
    margin-right: 0px;
    text-align: center;
    background-color: #e7e7e7;
    border-radius: 0.5rem;
    display: inline-block;
    margin-bottom: 2%;
}

.container.user{
    width: 20%;
    padding: 1%;
    margin-right: 0px;
    background-color: #e7e7e7;
    border-radius: 0.5rem;
    display: inline-block;
}

.icon-user{
    color: #1abc9c;
    font-size: 9.9rem;
    float: left;
    padding-left: 13%;
}

.icon-detail{
    font-size: 4.2rem;
    padding: 4px;
}

.well-user .span3{
    width: 100%;
}

.role-user{
    text-transform: uppercase;
}

.mosaic{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    color: white;
    text-align: center;
}

.mosaic table thead tr th {
    text-align: center;
}

.list-ico{
    list-style-type: none;
}

.list-ico li {
    display: initial;
}

.mosaic table {
    margin-bottom: 0px;
}

.back-link-bo{
    bottom: 22%;
    position: relative;
}
/* PRODUIT */

.product-inner{
    color: white;
}
.product-main-img {
    margin-bottom: 20px;
}
.product-gallery {
    margin-bottom: 25px;
    margin-left: -15px;
    overflow: hidden;
}
.product-gallery img {
    height: auto;
    margin-left: 15px;
    width: 76px;
}
.product-name {
    font-size: 25px;
    margin-bottom: 20px;
}
.product-inner-price {
    margin-bottom: 25px;
}
.product-inner-price > ins {
    color: #1abc9c;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
}
.quantity {
    float: left;
    margin-right: 15px;
}
.quantity input[type="number"] {
    border: 1px solid #1abc9c;
    padding: 5px;
    width: 50px;
}
.add_to_cart_button, .custom-button {
    font-weight: bolder;
    background: none repeat scroll 0 0 #1abc9c;
    border: medium none;
    color: #fff;
    padding: 6px 25px;display: inline-block;
    text-transform: uppercase;
}
.add_to_cart_button:hover {background-color: #222;color: #fff;text-decoration: none}
form.cart {
    margin-bottom: 25px;
}
.product-inner-category {
    margin-bottom: 30px;
}
.product-tab {
    list-style: outside none none;
    margin: 0 0 30px;
    padding: 0;
    text-align: justify;
}
.product-tab li {
    display: inline-block;
    width: 49%;
}
.product-tab li.active {
    background: none repeat scroll 0 0 #1abc9c;
}
.product-tab li.active a {
    color: #fff;
}
.product-tab li a {
    color: #222;
    display: block;
    font-size: 16px;
    padding: 10px 30px;
}
.product-tab li a:hover {
    text-decoration: none;
}
.product-tab li a:focus {
    text-decoration: none;
}
.tab-content h2 {
    font-size: 20px;
}
.tab-content {
    margin-bottom: 30px;
}
.submit-review label {
    display: block;
}
.submit-review input[type="text"], .submit-review input[type="email"], .submit-review textarea {
    margin-bottom: 20px;
    width: 100%;
}
.rating-chooser {
    margin-bottom: 30px;
}
.rating-chooser p {
    font-weight: 700;
}
.rating-wrap-post {
    font-size: 20px;
}

.submit-review textarea {
    height: 105px;
}

.related-products-wrapper {
    margin-top: 30px;
}
.related-products-title {color: #3dc6ab;
    font-size: 25px;
    margin-bottom: 30px;
    text-transform: uppercase;}

.related-products-wrapper .owl-nav {
    position: absolute;
    right: 0;
    top: -56px;
}

.article-bo{
    background-color: rgba(0,0,0,0.8);
    color: white;
    margin-left: 20px;
    width: 100%;
}

.product-breadcroumb {
    margin-bottom: 20px;
}
.product-breadcroumb > a {
    margin-right: 31px;
    position: relative;
}
.product-breadcroumb > a::before {
    content: "/";
    position: absolute;
    right: -20px;
    top: 2px;
}
.product-breadcroumb > a:last-child::before {
    display: none;
}
/* PRODUIT */
.product-main-img {
    margin-bottom: 20px;
}
.product-gallery {
    margin-bottom: 25px;
    margin-left: -15px;
    overflow: hidden;
}
.product-gallery img {
    height: auto;
    margin-left: 15px;
    width: 76px;
}
.product-name {
    font-size: 25px;
    margin-bottom: 20px;
}
.product-inner-price {
    margin-bottom: 25px;
    font-size: xx-large;
}
.product-inner-price > ins {
    color: #1abc9c;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
}
.quantity {
    float: left;
    margin-right: 15px;
}
.quantity input[type="number"] {
    border: 1px solid #1abc9c;
    padding: 5px;
    width: 50px;
}
.add_to_cart_button, .custom-button {
    font-weight: bolder;
    background: none repeat scroll 0 0 #1abc9c;
    border: medium none;
    color: #fff;
    padding: 6px 25px;display: inline-block;
    text-transform: uppercase;
}
.add_to_cart_button:hover {background-color: #222;color: #fff;text-decoration: none}
form.cart {
    margin-bottom: 25px;
}
.product-inner-category {
    margin-bottom: 30px;
}

.product-content-right{
    width: 115%;
}

.alert-success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    position: relative;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 19%;
}

/*===============================================================
*       PAGE LISTE
=================================================================*/

.list-cat{
    text-align: left;
}


/*===============================================================
*
=================================================================*/

.box-info.dash-box{
    width: 98%;
    color:black;
}
.dash-box{
    position: relative;
    margin-left: 2%;
}

.icon-box{
    top: 39px;
}

.color-aqua{
    color: #00c0ef;
}
.color-yellow{
    color:#f39c12;
}
.color-red{
    color: rgba(255,0,0,0.4) !important;
}

.color-green{
    color :#00a65a;
}

.color-white{
    color: white;
}

.bgc-gray{
    background-color: #333;
    border-color: #333;

}

.color-light-gray {
    color: #e7e7e7;
}
.bgc-gray:hover, .bgc-gray:focus{
    color: white;
    text-decoration: none;
    opacity: 1;
}
.icon-form{
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    top: -10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 130px;
}

.form-bo{
    position: relative;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.box-center{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
.small-box .links{
    width: 50%;
    float: left;
    border-left: 1px solid;
    border-color: rgba(0,0,0,1.4);
}
.btn-add{
    background-color: rgba(0,255,0,0.4) !important;
}
.btn-remove{
    background: rgba(255,0,0,0.4) !important;
}

.link-add{
    width: 49%;
    float: left;
}

.link-rm{
    width: 49%;
    margin-left: 1px;
}

img {
    max-width: 100%;
    height: auto;
}


/**  TAB PRODUCT */

.tab {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.tabs {
    display: table;
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
}
.tabs li {
    float: left;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.tabs a {
    background-color: rgba(250,250,250,0.8);
    border-bottom: 1px solid #fff;
    color: black;
    font-weight: 900;
    display: block;
    letter-spacing: 0;
    outline: none;
    padding: 0 20px;
    text-decoration: none;
}

.tabs_item {
    display: none;
    margin-left: 23px;
}

.tabs_item img {
    width: 200px;
    float: left;
    margin-right: 30px;
}
.tabs_item:first-child {
    display: block;
}

.current a {
    color: #fff;
    font-weight: 700;
    background: rgba(255,0,0,0.4);
}



.article {
    background-color: rgba(0,0,0,0.8);
    clear: both;
    height: 179px;
}

.article img {
    height: 177px;
    width: 150px;
}

.article .info-article{
    padding-top: 4%;
}

.err-excpt{
    text-align: center;
    margin: 6%;
    font-size: large;
    font-weight: 800;
}