{% extends 'sil20VitrineBundle:Admin:form_BO.html.twig' %}

{% block icon_form %}{{ 'ion-lock-combination' }}{% endblock %}
{% block title_form %}{{ 'Changer Mot de passe' }}{% endblock %}

{% block fos_user_content %}
   {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}

