{% extends "sil20VitrineBundle::layout.html.twig" %}

 {% block title %}
     <div class="product-big-title-area">
         <div class="container">
             <div class="row">
                 <div class="col-md-12">
                     <div class="product-bit-title text-center">
                         <h2>Contact</h2>
                     </div>
                 </div>
             </div>
         </div>
     </div> <!-- End Page title area -->
    {% endblock %}

    {% block content %}
            <div class="row contact">
                <div class="col-sm-5 col-md-6 content-contact">
                    <div class="well">
                        <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#339966"></i> Adresse:</h3>               
                        <p style="margin-top:6%;line-height:35%">2 Place Doyen Gosse, 38000 Grenoble</p>
                        <br />
                        <br />
                        <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#339966"></i> Adresse e-mail:</h3>
                        <p style="margin-top:6%;line-height:35%">contact@indesmarket.com</p>
                        <br />
                        <br />
                        <h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:#339966"></i> Gérant:</h3>
                        <p style="margin-top:6%;line-height:35%">Marty Marc-Antoine</p>
                        <br />
                        <br />
                        <h3 style="line-height:20%;"><i class="fa fa-yelp fa-1x" style="line-height:6%;color:#339966"></i> Telephone:</h3>
                        <p style="margin-top:6%;line-height:35%"><a href="siteadresi.com/destek">06.27.25.45.80</a></p>
                    </div>
                </div>
                <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0 content-contact">
                    <iframe class="map-contact" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJzeFC1YD0ikcRlPdUsm6OVas&key=AIzaSyB9_wVq9xaHugG39ov-utdV0gq3Y3H0tzk"  allowfullscreen></iframe>
                </div>
            </div>
    {% endblock %}