{#  src/sil20/VitrineBundle/Resources/views/Default/mentions.html.twig #}

{% extends "sil20VitrineBundle::layout.html.twig" %}


        {% block title %}
            <h2 class="center">Mentions Légales</h2>
        {% endblock %}


        {% block content %}
            <div>
                <p>Editeur du Site : </p>
                <p>SARL IndesMarket Numéro de SIRET : 75221735600019 </p>
                <p>Responsable éditorial : Marty Marc-Antoine </p>
                <p>20 rue Tondu du Metz 38100 Grenoble </p>
                <p>Téléphone : 0360455713 </p>
            </div>
        {% endblock %}
