{% extends '@sil20Vitrine/Admin/layout_BO.html.twig' %}
{% block icon %} {{ 'ion-ios-pie' }} {% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="block-add">
        <a class="" href="{{ path('categorie_new') }}" alt="Ajouter une catégorie" title="Ajouter une catégorie"><span class="ion ion-plus icon-user color-white"></span></a>
    </div>
    <div class="row dash-box">
        {% for categorie in categories %}
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>REF :CAT{{ categorie.id }}</h3>
                        <p><strong>{{ categorie.intitule }}</strong></p>
                        <p><strong>{{ categorie.articles |length }} articles</strong></p>
                    </div>
                    <div class="icon">
                            <i class="ion-ios-pie icon-box"></i>
                    </div>
                    <a href="{{ path('categorie_show', { 'id': categorie.id }) }}" class="small-box-footer links">Consulter <i class="fa fa-arrow-circle-right"></i></a>
                    <a href="{{ path('categorie_edit', { 'id': categorie.id }) }}" class="small-box-footer links">Modifier <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

