    <div class="panel panel-default sidebar-menu">
        <div class="panel-heading">
            <h3 class="panel-title">Categories</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked category-menu">
                {% for cat in categories %}
                    <li>
                        <a href="{{ path('sil20_vitrine_article_categorie', { 'id' : cat.getId }) }}">
                            {{ cat.intitule }} <span class="badge pull-right">{{ cat.articles |length }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>


