{% extends 'sil20VitrineBundle:Admin:form_BO.html.twig' %}

{% block icon_form %} {{ 'ion-ios-pie' }} {% endblock %}
{% block title_form %}{{ title }}{% endblock %}

{% block content_form %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn-add" type="submit" value="Ajouter" />
    {{ form_end(form) }}

{% endblock %}

{% block link_back %}
    {{ path('categorie_index') }}
{% endblock %}
