{% extends '@sil20Vitrine/Admin/layout_BO.html.twig' %}

{% block icon %} {{ 'ion-ios-pie' }} {% endblock %}
{% block title %} {{ title }}{% endblock %}

{% block content %}
    <div class="tab_content">}
            <div class="tabs_item">
                <div class="col-md-12 ">
                    <div class="row ">
                        {% for article in categorie.articles %}
                            {{ include("sil20VitrineBundle:Article:articles.html.twig") }}
                        {% endfor %}
                    </div>
                </div>
            </div>
    </div> <!-- / tab_content -->
    <a id="btn-list-cat" class="btn btn-default full-width btn-edit" href="{{ path('categorie_index') }}">Revenir à la liste</a>

{% endblock %}
