{% extends '@sil20Vitrine/Default/commun/layout_login.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <div class="form row" id="forgetP">
        <div class="col-sm-12 container">
            <div class="input">
                <p>Un e-mail a été envoyé à l'adresse {{ email }}. Il contient un lien sur lequel il vous faudra cliquer afin de réinitialiser votre mot de passe.</p>
            </div>
        </div>
    </div>
{% endblock %}
