{% extends '@sil20Vitrine/Default/commun/layout_login.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="form row" id="forgetP">
    <div class="col-sm-12 container">
        <div class="input">
            <p>{{ 'resetting.password_already_requested'|trans }}</p>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
