{% block fos_user_content %}
    <div class="form row" id="forgetP">
        <div class="col-sm-12 container">
            <div class="input">
                <p>Pour réinitialiser votre mot de passe, entrez votre email ou votre identifiant, nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>
            </div>
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                {% if invalid_username is defined %}
                <div class="error">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</div>
                {% endif %}
                <div class="input">
                    <input class="main-form animated bounceInDown" type="text" id="username" name="username" required="required" placeholder=" EMAIL OU IDENTIFIANT"/>
                </div>
                <div class="input">
                    <input class="main-form btn reset animated bounceInDown" type="submit" name="" value="REINITIALISER"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}