{% extends '@sil20Vitrine/Default/commun/layout_login.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
        {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock fos_user_content %}

