{% extends '@sil20Vitrine/Admin/layout_BO.html.twig' %}

{% block icon %} {{ 'fa fa-tachometer icon-bo' }} {% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row dash-box">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-blue">
            <div class="inner">
                <h3>{{ qte_article }}</h3>
                <p>Articles commandés</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="{{ path('commande_index',{'id': app.user.id}) }}" class="small-box-footer">Details <i
                        class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>{{ turnover }}<sup style="font-size: 20px">€</sup></h3>

                <p>Chiffre d'affaires</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">Details <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>{{ clients|length }}</h3>

                {% if clients|length > 1 %}
                    <p>Utilisateurs enregistrés</p>
                {% else %}
                    <p>Utilisateur enregistré</p>
                {% endif %}
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="{{ path('client_index') }}" class="small-box-footer">Details <i
                        class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>65</h3>

                <p>Unique Visitors</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">Detail <i class="fa fa-arrow-circle-right"></i></a>
        </div>

    </div>
    <!-- ./col -->
</div>

<!-- LATEST ORDER -->
<div class="box box-info dash-box">
    <div class="box-header with-border">
        <h3 class="box-title">Dernières commandes</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="table-responsive">
            <table class="table no-margin table-dashboard">
                <thead>
                <tr>
                    <th>Numero Commande</th>
                    <th>Nom</th>
                    <th>Etat</th>
                </tr>
                </thead>
                <tbody>
                {% for commande in commandes %}
                    <tr>
                        <td>
                            <a href="{{ path('commande_edit', {'id' : commande.id}) }}">REF : ORD{{ commande.id }}</a></td>
                        <td>{{ commande.client.nom }}</td>
                        {% if commande.etat == true %}
                            <td><span class="label label-success">Validé</span></td>
                        {% else %}
                            <td><span class="label label-danger">En attente</span></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <!-- END LATEST ORDER -->
    <div class="box box-info dash-box">
        <div class="box box-solid bg-teal-gradient">
            <div class="box-header">
                <h3 class="box-title">Graphique des ventes</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body border-radius-none">
                <div id="line-chart" style="height: 250px;"></div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer no-border">
                <div class="row">
                    <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                        <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60" data-fgColor="#39CCCC">

                        <div class="knob-label">Mail-Orders</div>
                    </div>
                    <!-- ./col -->
                    <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                        <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60" data-fgColor="#39CCCC">

                        <div class="knob-label">Online</div>
                    </div>
                    <!-- ./col -->
                    <div class="col-xs-4 text-center">
                        <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60" data-fgColor="#39CCCC">

                        <div class="knob-label">In-Store</div>
                    </div>
                    <!-- ./col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-footer -->
        </div>
    </div>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="{{ asset('bundles/sil20vitrine/js/GraphDashboard.js')}}"></script>
    {% endblock %}
