{% extends '@sil20Vitrine/Admin/layout_BO.html.twig' %}
{% block content %}
    {# HEADER DU BLOCK #}
    {% block header_block_form %}
    <div class="content text-med color-white">
        <div class="row dash-box form-bo">
                     <div class="small-box form-color">

                    <div class="inner">
                        <span class="{% block icon_form %}{% endblock %}  icon-bo color-white"></span>
                        <h2 class="color-white text-bold">{% block title_form %}{% endblock %}</h2>
    {% endblock %}

    {# CONTENU DU BLOCK #}
    {% block content_form %}
        {# fos_user_content est utilisé pour les page liés à l'utilisateur ( ex profile, login ) #}
        {% block fos_user_content %}
        {% endblock %}
        {% if app.request.get('_route') != 'fos_user_change_password' and app.request.get('_route') != 'fos_user_security_login' and app.request.get('_route') != 'fos_user_registration_register' %}
        <div class="small-box">
            <a href="{% block link_back %}  {% endblock %}" class="small-box-footer"><i class="fa fa-arrow-circle-left"></i>Retour à la liste</a>
        </div>
        {% endif %}
    {% endblock %}

    {# FOOTER DU BLOCK #}
    {% block footer_block_form %}
                   </div>
                </div>
            </div>
    {% endblock %}

{% endblock %}