    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/sil20vitrine/css/style-bo.css')}}">
    <link rel="stylesheet" href="{{ asset('bundles/sil20vitrine/css/AdminLTE.css')}}">
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery.min.js"></script>

    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tether -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

    <!-- SB Admin JavaScript -->
    <script src="{{ asset('bundles/sil20vitrine/js/style-bo.js')}}"></script>
    <script src="{{ asset('bundles/sil20vitrine/js/app.js')}}"></script>
