{# src/sil20/VitrineBundle/Resources/views/Admin/header_BO.html.twig #}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <nav class="navbar navbar-default sidebar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('sil20_vitrine_homepage') }}">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>

                    <li class="dropdown">
                        <a href="{{ path('fos_user_profile_show') }}" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.nom }} <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
                        <ul class="dropdown-menu forAnimate" role="menu">
                            <li><a href="{{ path('fos_user_profile_show') }}">Informations <span style="font-size:16px;" class="pull-right hidden-xs  showopacity fa fa-eye"></span></a></li>
                            <li><a href="{{ path('fos_user_profile_edit') }}">Modifier informations <span style="font-size:16px;" class="pull-right hidden-xs  showopacity fa fa-cog fa-spin"></span></a></li>
                            <li><a href="{{ path('fos_user_change_password') }}">Changer mot de passe<span style="font-size:16px;" class="pull-right hidden-xs  showopacity  fa fa-lock"></span></a></li>
                            <li><a href="{{ path('client_delete' , { 'id' : app.user.id }) }}">Supprimer compte<span style="font-size:16px;" class="pull-right hidden-xs  showopacity 	glyphicon glyphicon-remove"></span></a></li>
                            <li><a href="{{ path('fos_user_resetting_request') }}">Réinitialiser mot de passe<span style="font-size:16px;" class="pull-right hidden-xs  showopacity  fa fa-lock"></span></a></li>
                        </ul>
                    </li>
                    <li ><a href="{{ path('commande_index') }}">Commandes<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-shopping-cart"></span></a></li>
                    {% if is_granted("ROLE_ADMIN") %}
                        <li ><a href="{{ path('dashboard') }}">Dashboard<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-tachometer"></span></a></li>
                        <li ><a href="{{ path('client_index') }}">Utilisateurs<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-users"></span></a></li>
                        <li ><a href="{{ path('categorie_index') }}">Catégories<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-pie-chart"></span></a></li>
                        <li ><a href="{{ path('article_index') }}">Articles<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
                    {% endif %}
                    <li ><a href="{{ path('fos_user_security_logout') }}">Deconnexion<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon fa fa-power-off"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endif %}