{# src/sil20/VitrineBundle/Resources/views/Admin/layout_BO.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="description" content="">
        <meta name="author" content="">
        {% include "sil20VitrineBundle:Admin:front_files_BO.html.twig" %}
        <title>Back Office</title>
    </head>
    <body>
        {% include "sil20VitrineBundle:Admin:header_BO.html.twig" %}
        <a href="{{ path('sil20_vitrine_homepage') }}"><span class="glyphicon glyphicon-remove closed"></span></a>
            {% include "sil20VitrineBundle:Default/commun:notice_error.html.twig" %}
            {% set _block = block('icon_form') %}
            {# Test :  si le rendu est un fom alors on affichera la logo dans le form #}
            {% if _block is not empty %}

            {% else %}
                <header>
                    <span class="{% block icon %} {% endblock %} icon-bo color-white"></span>
                    <h1>{% block title %}{# Title of the page #}{% endblock %}</h1>
            {% endif %}

        </header>
        <section class="content">

            {% block content %}
                {% block fos_user_content %}
                {% endblock fos_user_content %}
                {# Content of the page #}
            {% endblock %}


        </section>
    </body>
</html>



