{% extends '@sil20Vitrine/Admin/layout_BO.html.twig' %}

{% block icon %} {{ 'ion-ios-people' }} {% endblock %}
{% block title %} {{ title }}{% endblock %}

{% block content %}
    <div class="block-add">
        <a class="" href="{{ path('client_new') }}" alt="Ajouter un client" title="Ajouter un client"><span class=" icon icon-user ion-person-add color-white"></span></a>
    </div>
    <div class="row dash-box">
        {% for client in clients %}
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3> {{ client.nom }}</h3>
                        <p><strong>{{ client.username }}</strong></p>
                        <p><strong>{{ client.email }}</strong></p>
                    </div>
                    <div class="icon">
                        {% if 'ROLE_SUPER_ADMIN' in client.roles %}
                        <i class="ion-social-freebsd-devil icon-box"></i>
                        {% else %}
                            <i class="ion-person icon-box"></i>
                        {% endif %}
                    </div>
                    <a href="{{ path('client_show', { 'id': client.id }) }}" class="small-box-footer links">Consulter <i class="fa fa-arrow-circle-right"></i></a>
                    <a href="{{ path('client_edit', { 'id': client.id }) }}" class="small-box-footer links">Modifier <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
