{% extends 'sil20VitrineBundle:Admin:form_BO.html.twig' %}

{% block icon_form %} {{ 'ion-ios-person' }} {% endblock %}
{% block title_form %} {{ title }}{% endblock %}

{% block fos_user_content %}
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        {{ form_widget(form) }}
        <div>
            <input class="btn-add" type="submit" value="Ajouter" />
        </div>
        {{ form_end(form) }}
    </form>
{% endblock %}

{% block random %}
    <div class="back-link-bo">
        <a class="btn btn-default full-width btn-edit"  href="{{ path('client_index') }}">Retour à la liste</a>
    </div>
{% endblock %}


