{% extends '@sil20Vitrine/Admin/layout_BO.html.twig' %}
{% block icon %}
    {% if 'ROLE_SUPER_ADMIN' in client.roles %}
        {{ 'ion-social-freebsd-devil'  }}
    {% else %}
        {{ 'ion-ios-person'  }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row dash-box">
        <div class="">
            <div class="small-box box-center bg-yellow">
                <div class="inner">
                    <h3> {{ client.nom }}</h3>
                    <p>{{ client.username }}</p>
                    <p>{{ client.email }}</p>
                    <p>{{ client.commandes|length }} commandes passé</p>
                </div>
                <a href="{{ path('client_edit', {'id' : client.id}) }}" class="small-box-footer">Modifier <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
{% endblock %}
