{# src/sil20/VitrineBundle/Resources/views/layout.html.twig #}
<html>
    <head>
        {% include "sil20VitrineBundle:Default/commun:front_files.html.twig" %}

        <title>Homepage</title>
    </head>
    <body>

        {% include "sil20VitrineBundle:Default/commun:header.html.twig" %}
        <div class="product-big-title-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-bit-title text-center">
                            {% block title %}
                                {# Title of the page #}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Page title area -->
        {% include "sil20VitrineBundle:Default/commun:notice_error.html.twig" %}
        {% block content %}
            {% block fos_user_content %}
            {% endblock fos_user_content %}
            {# Content of the page #}
        {% endblock %}

        {% include "sil20VitrineBundle:Default/commun:footer.html.twig" %}
    </body>
</html>



