{% extends '@sil20Vitrine/Default/commun/layout_login.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <div class="form row" id="login">
        <div class="col-sm-12 container">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if error %}
                    <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="input">
                    <input class="main-form animated bounceInDown" type="text" placeholder="IDENTIFIANT"  id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>
                <div class="input">
                    <input class="main-form animated bounceInDown" type="password" placeholder="Mot de passe" id="password" name="_password" required="required" />
                </div>
                <div class="input">
                    <input type="submit" id="_submit" name="_submit" class="main-form btn animated bounceInDown" value="CONNEXION" />
                </div>
                <div class="input">
                    <label class="pull-left">
                        <input type="checkbox">Se souvenir de moi
                    </label>
                    <label class="pull-right">
                        <a href="{{ path('fos_user_resetting_request') }}" id="3" class="forget-password">Mot de passe oublié ?</a>
                    </label>
                </div>
            </form>
        </div>
    </div>
{% endblock %}