<div class="col-sm-6">
    <div class="shopping-item">
        <a href="{{ path('panier')}}">Panier - <span class="cart-amunt">{{ montant }} €</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">{{ quantite }}</span></a>
    </div>
</div>


