{% extends "sil20VitrineBundle::layout.html.twig" %}

    {% block title %}
        <h2>Panier</h2>
    {% endblock %}


    {% block content %}

        <div class="single-product-area">
            <div class="zigzag-bottom"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="woocommerce">
                                {% if  panier %}
                                    <form method="post" action="#">
                                        <table cellspacing="0" class="shop_table cart">
                                            <thead>
                                            <tr>
                                                <th class="product-remove remove"><span class="fa fa-trash"></span></th>
                                                <th class="product-thumbnail"><span class="fa fa-image"></span></th>
                                                <th class="product-name">Article</th>
                                                <th class="product-price">Prix</th>
                                                <th class="product-quantity">Quantité</th>
                                                <th class="product-subtotal">Total</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for product_id, quantity in panier %}
                                                <tr class="cart_item">
                                                    <td class="product-remove">
                                                        <a title="Remove this item" class="remove fa fa-trash" href="{{ path('panier_supprimer', { 'id' : product_id }) }}"></a>
                                                    </td>

                                                    <td class="product-thumbnail">
                                                        <a href="{{ path('article_show', { 'id' : product_id  }) }}"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="{{ asset('bundles/sil20vitrine/images/articles/'~ articles[product_id -1 ].image) }}"></a>
                                                    </td>

                                                    <td class="product-name">
                                                        <a href="{{ path('article_show', { 'id' : product_id  }) }}">{{ articles[product_id - 1 ].getLibelle }}</a>
                                                    </td>

                                                    <td class="product-price">
                                                        <span class="amount">{{ articles[product_id -1 ].getPrix  }} €</span>
                                                    </td>

                                                    <td class="product-quantity">
                                                        <div class="quantity buttons_added">
                                                            <a class="fa fa-minus-circle" href="{{ path('panier_diminuer', { 'id' : product_id }) }}"></a>
                                                            {{ quantity }}
                                                            <a class="fa fa-plus-circle" href="{{ path('panier_ajouter', { 'id' : product_id }) }}"></a>

                                                        </div>
                                                    </td>

                                                    <td class="product-subtotal">
                                                        <span class="amount">{{ articles[product_id - 1 ].getPrix  * quantity }} €</span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <td class="actions" colspan="6">
                                                    <span class="total color-text">Total : {{ montant }} €</span>
                                                </td>
                                            </tr>
                                            <tr></tr>
                                            </tbody>
                                        </table>
                                    </form>
                                    <div class="cart-actions">
                                        <a href="{{ path('panier_vider')}}" class="btn-delete">Vider le panier</a>
                                        <a href="{{ path('panier_validation') }}" name="proceed" class="custom-button">Commander</a>
                                    </div>

                                {% else %}
                                    <div>
                                        <span>Votre panier est vide.</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



                
    {% endblock %}