{#  src/sil20/VitrineBundle/Resources/views/Default/mentions.html.twig #}

{% extends "sil20VitrineBundle::layout.html.twig" %}


        {% block title %}
            <h2 class="center">Validation Panier</h2>
        {% endblock %}


        {% block content %}
            <div class="err-excpt">
                <p>La commande n°<span class="color">{{ commande.id }}</span> à bien été enregistré</p>
                <a class="add_to_cart_button" href="{{ path('commande_show', { 'id' : commande.id }) }}"> Voir votre commande</a>
            </div>

        {% endblock %}